p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

p,ul,ol,deails,summary
{
  font-size: 16px;
}

body
{
  text-align: justify
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tcolorbox
{
  text-align: center;
}

.tcolorbox2
{
  border-style: groove;
  text-align: justify;
  padding: 15px;
}

.color_blue
{
  color:white;
  background-color: blue;
}

#wrapper {
  display: flex;
  text-align: center;
}

#left {
  flex: 0 0 1;
}

#right {
  flex: 0 0 50%;
}


